# environments & secrets
backend/venv/
backend/env/
backend/.env
frontend/.env
.DS_Store

# python backend
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd

# databases & caching
backend/youtube_bot.db
backend/faiss_indexes/
backend/cookies.txt
photos/

# node frontend
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.npm/
